button:focus {
  outline: 0;
}

body {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}

a[aria-label="React Flow attribution"] {
  display: none;
}

.board {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.board::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.animate-spin-reverse {
  animation: spinReverse 1s linear infinite;
}

@keyframes spinReverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.divtext {
  border: ridge 2px;
  padding: 5px;
  width: 20em;
  min-height: 5em;
  overflow: auto;
}
