button:focus {
  outline: 0;
}

body {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}

a[aria-label="React Flow attribution"] {
  display: none;
}

.board {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.board::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.animate-spin-reverse {
  animation: spinReverse 1s linear infinite;
}

@keyframes spinReverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.divtext {
  border: ridge 2px;
  padding: 5px;
  width: 20em;
  min-height: 5em;
  overflow: auto;
}

.shape {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.tools {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.twitter-picker {
  scale: 0.8;
}

/* Chrome */
/* textarea::-webkit-scrollbar {
  display: none;
} */
/* IE and Edge and Firefox */
/* textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
